<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<properties>
 <number>2</number>
 <slides>
        <slide>
            https://www.123rf.com/photo_41026708_example-white-stamp-text-on-red-backgroud.html
        </slide>
        <slide>
            https://italycyclingtour.it/de/italy-cycling-tour/example-main-image1/
        </slide>
 </slides>
</properties>